@model LeaseManager.Models.Lease

@{
    ViewBag.Title = "Leases";
}
<h2 class="title text-center">@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Vehicle</th>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </div>
                            @Html.DropDownList("VehicleId", null, "--- Please Select ---", new { @class = "form-control", @required = "required" })
                        </div>
                        @Html.ValidationMessageFor(model => model.VehicleId, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>Client</th>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </div>
                            @Html.DropDownList("ClientId", null, "--- Please Select ---", new { @class = "form-control", @required = "required" })
                        </div>
                        @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>Driver</th>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </div>
                            @Html.DropDownList("DriverId", null, "--- Please Select ---", new { @class = "form-control", @required = "required" })
                        </div>
                        @Html.ValidationMessageFor(model => model.DriverId, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(model => model.StartDate)</th>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar-o"></i>
                            </div>
                            @Html.EditorFor(m => m.StartDate, new { htmlAttributes = new { @type = "date", @class = "form-control", @required = "required", @placeholder = "Start Date", min = DateTime.Now.ToString("yyyy-MM-dd") } })
                        </div>
                        @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(model => model.EndDate)</th>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar-o"></i>
                            </div>
                            @Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { @type = "date", @class = "form-control", @required = "required", @placeholder = "End Date", min = DateTime.Now.ToString("yyyy-MM-dd") } })
                        </div>
                        @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(model => model.MonthlyRate)</th>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-pencil"></i>
                            </div>
                            @Html.TextBoxFor(m => m.MonthlyRate, new { @class = "form-control", @placeholder = "Monthly Rate" })
                        </div>
                        @Html.ValidationMessageFor(m => m.MonthlyRate, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(model => model.Terms)</th>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-pencil"></i>
                            </div>
                            @Html.TextBoxFor(m => m.Terms, new { @class = "form-control", @placeholder = "Terms" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Terms, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
            <div class="row text-center">
                <a class="btn btn-default" href="@Url.Action("Index","Leases")">
                    <i class="fa fa-angle-left"></i>
                    Back
                </a>
                <input type="submit" class="btn btn-default" value="Save" />
            </div>
        </div>
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
