@model LeaseManager.Models.Lease

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lease</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Terms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Terms)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
