@model IEnumerable<LeaseManager.Models.Vehicle>

@{
    ViewBag.Title = "Vehicles";
}

<h2 class="title text-center">@ViewBag.Title</h2>
<a class="btn btn-default" href="@Url.Action("Create","Vehicles")">
    <i class="fa fa-plus"></i>
    Add New Vehicle
</a>
<table class="table table-hover table-striped table-responsive" id="my_list">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supplier.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VIN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td>
                    <a href="@Url.Action("Edit","Vehicles", new { id = item.Id})" rel="tooltip" title="Edit" class="btn btn-success btn-simple btn-xs"><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Details", "Vehicles", new { id = item.Id })" rel="tooltip" title="View" class="btn btn-info btn-simple btn-xs"><i class="fa fa-eye"></i></a>
                    <a href="@Url.Action("DeleteConfirmed", "Vehicles", new { id = item.Id })" onclick="return confirm('Are you sure you want to delete this record?, click Ok to Confirm, Or Cancel');" rel="tooltip" title="Delete" class="btn btn-danger btn-simple btn-xs"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $('#my_list').dataTable(
        {
            dom: 'Bfrtip',
            lengthMenu: [
                [10, 25, 50, -1],
                ['10 rows', '25 rows', '50 rows', 'Show all']
            ],
            buttons: [
                'pageLength', 'csv', 'print'
            ],
            language: { search: "" },
            select: true
        }
    );
    $(".dataTables_filter input").addClass("search-input");
    $(".dataTables_filter input").attr('placeholder', 'Search');
    $('#my_list')
        .removeClass('display')
        .addClass('table table-striped table-hover');
</script>
